{% extends "base.html" %}
{% load filters %}
<!-- 
    This page allows for the creation of quests, and showing issued quests
-->

{% block title %} Profile {% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="quest-creation-container">
    <div class="task-selection-container" style="margin-top: 20px;">
        <select class="task-dropdown" name="task" id="tasks" onchange="updateTaskIndex()">
            <option value="0">Spotify popularity</option> <!-- Api follower of account -->
            <option value="1">Google ranking</option> <!-- -->
            <option value="2">Twitter Followers</option>
        </select>
    </div>
    <div class="quest-form">
        <input type="text" id="input-eth" placeholder="Enter reward amount">
        <input type="text" id="input-duration" placeholder="Enter duration in days"> <!-- Change to calendar select -->
        <input type="text" id="input-target" placeholder="Enter target value"> <!-- Link this to task -->
        <input type="text" id="input-args" placeholder="Enter arguments separated by comma"> <!--Make this conditional on task index -->
        <div class="new-quest-button-container">
            <button id="new-quest">New Quest</button>
        </div>
    </div>
</div>
<div class="quest-post">
    <select id="quest-filter">
        <option value="active" selected>Accepted</option>
        <option value="listed">Listed</option>
        <option value="finished">Finished</option>
    </select>
    <div id="active-quests">
    <h2 class="contract-title">Accepted Quests</h2>
    {% for quest in quests.active %}
    <div class="quest-info">
        <p>Quest: {{ quest.address }}</p>
        <p>Task: {{ quest.questIndex }} </p>
        <p>Target: {{ quest.target }} </p>
        <p>Deadline: {{ quest.deadline|seconds_to_days }} </p> <!-- Map this to date in Python backend using datetime -->
        <p>Reward: {{ quest.reward|divide_by_eighteen }} ETH</p>
        <p>Value: {{ quest.value }} </p>
    </div>
    {% endfor %}
    </div>
    <div id="listed-quests" style="display: none;">
    <h2 class="contract-title">Listed Quests</h2>
    {% for quest in quests.listed %}
        <div class="quest-info">
            <p>Quest: {{ quest.address }}</p>
            <p>Task: {{ quest.questIndex }} </p>
            <p>Target: {{ quest.target }} </p>
            <p>Deadline: {{ quest.deadline|seconds_to_days }} </p> <!-- Map this to date in Python backend using datetime -->
            <p>Reward: {{ quest.reward|divide_by_eighteen }} ETH</p>
            <p>Value: {{ quest.value }} </p>
            <p>Status: {{ quest.status }} </p>
        </div>
    {% endfor %}
    </div>
    <div id="finished-quests" style="display: none;">
    <h2 class="contract-title">Finished Quests</h2>
    {% for quest in quests.finished %}
        <div class="quest-info">
            <p>Quest: {{ quest.address }}</p>
            <p>Task: {{ quest.questIndex }} </p>
            <p>Target: {{ quest.target }} </p>
            <p>Deadline: {{ quest.deadline|seconds_to_days }} </p> <!-- Map this to date in Python backend using datetime -->
            <p>Reward: {{ quest.reward|divide_by_eighteen }} ETH</p>
            <p>Value: {{ quest.value }} </p>
            <p>Status: {{ quest.status }} </p>
        </div>
    {% endfor %}
    </div>
</div>

{% endif %}
<script>

    document.getElementById('quest-filter').addEventListener('change', function() {
        var type = this.value;
        var activeQuests = document.getElementById('active-quests');
        var listedQuests = document.getElementById('listed-quests');
        var finishedQuests = document.getElementById('finished-quests');

        activeQuests.style.display = (type === 'active') ? '' : 'none';
        listedQuests.style.display = (type === 'listed') ? '' : 'none';
        finishedQuests.style.display = (type === 'finished') ? '' : 'none';
    });

    const CONTRACT_ADDRESS = "0xA8094Dc8877925ff583a026b32e8Fa991267Fe65" // change to from .env file 
    const newQuestBtn = document.getElementById("new-quest")

    let questIndex 
    let taskIndex = "0";
    function updateTaskIndex() {
        taskIndex = document.getElementById("tasks").value;
    }

    let rewardValue;
    function updateRewardValue() {
        rewardValue = document.getElementById("input-eth").value;
        console.log(rewardValue);
    }

    let durationValue;
    function updateDurationValue() {
        durationValue = document.getElementById("input-duration").value;
        console.log(durationValue);
    }

    let targetValue;
    function updateTargetValue() {
        targetValue = document.getElementById("input-target").value;
        console.log(targetValue);
    }

    let args;
    function updateArgsValue() {
        args = document.getElementById("input-args").value.split(',').map(arg => arg.trim());
        console.log(args);
    }

    async function createNewQuest(event) {
        let jsonData;
        await fetch("{% url 'web3:fetch_abi' %}")
            .then(response => response.json())
            .then(data => jsonData = data)

        console.log(jsonData);

        const { ethereum } = window;
        const provider = new ethers.providers.Web3Provider(ethereum);
        const signer = provider.getSigner()
        const connectedContract = new ethers.Contract(CONTRACT_ADDRESS, jsonData, signer)

        var inWei = (parseFloat(rewardValue.replace(/,/g, '.')) * 10 ** 18).toString()
        var inDays = (parseFloat(durationValue.replace(/,/g, '.')) * 86400).toString()

        let questParams = {
            target: targetValue,
            reward: inWei,
            questIndex: taskIndex,
            duration: inDays,
            args: args
        };
        console.log(questParams)

        let tx = await connectedContract.newQuest(questParams, { value: inWei });

    }

    document.getElementById("input-eth").oninput = updateRewardValue;
    document.getElementById("input-duration").oninput = updateDurationValue;
    document.getElementById("input-target").oninput = updateTargetValue;
    document.getElementById("input-args").oninput = updateArgsValue;
    document.getElementById("new-quest").addEventListener("click", createNewQuest);
</script>
{% endblock %}