{% extends "base.html" %}
{% load filters %}
{% load static %}

<!-- 
    This page allows for the creation of quests, and showing issued quests
-->

{% block title %} Profile {% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="quest-creation-container">
    <div class="task-selection-container">
        <select class="task-dropdown" name="task" id="tasks" onchange="updateTaskIndex()">
            <option value="0">Spotify Popularity</option> <!-- Api follower of account -->
            <option value="1">Youtube Subscribers</option> <!-- Add logos -->
            <option value="2">Open PageRank</option>
        </select>
    </div>
    <div class="quest-form">
        <input type="text" id="input-eth" placeholder="Enter reward amount in ETH">
        <input type="text" id="input-duration" placeholder="Enter duration in days"> <!-- Change to calendar select -->
        <input type="text" id="input-target" placeholder="Enter target value"> <!-- Link this to task -->
        <input type="text" id="input-args" placeholder="Enter arguments separated by comma"> <!--Make this conditional on task index -->
        <div class="new-quest-button-container">
            <button id="new-quest">New Quest</button>
        </div>
    </div>
</div>
<div class="quest-post">
    <div class="dropdown-container">
        <select id="quest-filter">
            <option value="active" selected>Accepted</option>
            <option value="listed">Listed</option>
            <option value="finished">Finished</option>
        </select>
    </div>
    <div id="active-quests">
    <h2 class="contract-title">Accepted Quests</h2>
    {% for quest in quests.active %}
    <div class="quest-info">
        <div class="quest-data">
            <img src="{% static 'images/quest' %}{{ quest.questIndex }}.png" alt="Quest image" class="quest-image">
            <p>Quest: {{ quest.address|short_address }} <span class="copy" onclick="copyAddress('{{ quest.address }}')">&#128203;</span></p>
            <p>Task: {{ quest.questIndex|quest_map }} </p>
            <p>{{ quest.args|args_display:quest.questIndex }}</p>
            <p>Target: {{ quest.target|filter_target:quest.questIndex }} </p>
            <p>Deadline: {{ quest.deadline|timestamp_to_date }} </p> 
            <p>Reward: {{ quest.reward|divide_by_eighteen }} ETH</p>
            <p>Value: {{ quest.value }} </p>
        </div>
        <div class="fulfill-button-wrapper">
            <button class="complete-button" id="complete-button-{{ quest.pk }}" data-quest="{{ quest.pk }}"
            data-address="{{ quest.address }}">Settle</button>
        </div>
    </div>
    {% endfor %}
    </div>
    <div id="listed-quests" style="display: none;">
    <h2 class="contract-title">Listed Quests</h2>
    {% for quest in quests.listed %}
    <div class="quest-info">
        <div class="quest-data">
            <img src="{% static 'images/quest' %}{{ quest.questIndex }}.png" alt="Quest image" class="quest-image">
            <p>Quest: {{ quest.address|short_address }} <span class="copy" onclick="copyAddress('{{ quest.address }}')">&#128203;</span></p>
            <p>Task: {{ quest.questIndex|quest_map }} </p>
            <p>{{ quest.args|args_display:quest.questIndex }}</p>
            <p>Target: {{ quest.target|filter_target:quest.questIndex }} </p>
            <p>Duration: {{ quest.duration|seconds_to_days }} days </p> 
            <p>Reward: {{ quest.reward|divide_by_eighteen }} ETH</p>
        </div>
        <div class="fulfill-button-wrapper">
            <button class="cancel-button" id="cancel-button-{{ quest.pk }}" data-quest="{{ quest.pk }}"
            data-address="{{ quest.address }}">Cancel</button>
            <script>
                document.getElementById("cancel-button-{{ quest.pk }}").addEventListener("click", async function(event) {
                    let jsonData;
                    await fetch("{% url 'web3:fetch_quest_abi' %}")
                        .then(response => response.json())
                        .then(data => jsonData = data)
    
                    const { ethereum } = window;
                    const provider = new ethers.providers.Web3Provider(ethereum);
                    const signer = provider.getSigner()
                    const questAddress = event.target.getAttribute("data-address")
                    const connectedContract = new ethers.Contract(questAddress, jsonData, signer)
    
                    let tx = await connectedContract.cancel();
                });
            </script>
        </div>
    </div>
    {% endfor %}
    </div>
    <div id="finished-quests" style="display: none;">
    <h2 class="contract-title">Finished Quests</h2>
    {% for quest in quests.finished %}
    <div class="quest-info">
        <div class="quest-data">
            <img src="{% static 'images/quest' %}{{ quest.questIndex }}.png" alt="Quest image" class="quest-image">
            <p>Quest: {{ quest.address|short_address }} <span class="copy" onclick="copyAddress('{{ quest.address }}')">&#128203;</span></p>
            <p>Task: {{ quest.questIndex|quest_map }} </p>
            <p>{{ quest.args|args_display:quest.questIndex }}</p>
            <p>Target: {{ quest.target|filter_target:quest.questIndex }} </p>
            <p>Deadline: {{ quest.deadline|timestamp_to_date }} </p>
            <p>Reward: {{ quest.reward|divide_by_eighteen }} ETH</p>
            <p>Value: {{ quest.value }} </p>
            <p>Status: {{ quest.status }} </p>
        </div>
    </div>

    {% endfor %}
    </div>
</div>

{% endif %}
<script>

    document.getElementById('quest-filter').addEventListener('change', function() {
        var type = this.value;
        var activeQuests = document.getElementById('active-quests');
        var listedQuests = document.getElementById('listed-quests');
        var finishedQuests = document.getElementById('finished-quests');

        activeQuests.style.display = (type === 'active') ? '' : 'none';
        listedQuests.style.display = (type === 'listed') ? '' : 'none';
        finishedQuests.style.display = (type === 'finished') ? '' : 'none';
    });

    const CONTRACT_ADDRESS = "{{ address }}"
    console.log(CONTRACT_ADDRESS)
    const newQuestBtn = document.getElementById("new-quest")

    let questIndex 
    let taskIndex = "0";
    function updateTaskIndex() {
        taskIndex = document.getElementById("tasks").value;
    }

    let rewardValue;
    function updateRewardValue() {
        rewardValue = document.getElementById("input-eth").value;
        console.log(rewardValue);
    }

    let durationValue;
    function updateDurationValue() {
        durationValue = document.getElementById("input-duration").value;
        console.log(durationValue);
    }

    let targetValue;
    function updateTargetValue() {
        targetValue = document.getElementById("input-target").value;
        console.log(targetValue);
    }

    let args;
    function updateArgsValue() {
        args = document.getElementById("input-args").value.split(',').map(arg => arg.trim());
        console.log(args);
    }

    async function createNewQuest(event) {
        let jsonData;
        await fetch("{% url 'web3:fetch_abi' %}")
            .then(response => response.json())
            .then(data => jsonData = data)

        console.log(jsonData);

        const { ethereum } = window;
        const provider = new ethers.providers.Web3Provider(ethereum);
        const signer = provider.getSigner()
        const connectedContract = new ethers.Contract(CONTRACT_ADDRESS, jsonData, signer)

        var inWei = (parseFloat(rewardValue.replace(/,/g, '.')) * 10 ** 18).toString()
        var inDays = (parseFloat(durationValue.replace(/,/g, '.')) * 86400).toString()

        // If the taskIndex is 2, multiply the targetValue by 100
        if (taskIndex === "2") {
            targetValue *= 100;
        }

        let questParams = {
            target: targetValue,
            reward: inWei,
            questIndex: taskIndex,
            duration: inDays,
            args: args
        };
        console.log(questParams)

        let tx = await connectedContract.newQuest(questParams, { value: inWei });

    }

    document.getElementById("input-eth").oninput = updateRewardValue;
    document.getElementById("input-duration").oninput = updateDurationValue;
    document.getElementById("input-target").oninput = updateTargetValue;
    document.getElementById("input-args").oninput = updateArgsValue;
    document.getElementById("new-quest").addEventListener("click", createNewQuest);
</script>
{% endblock %}